<header
  class="header flex h-12 items-center place-content-between border-b-[1px] border-[#dee2e6] md:h-16 bg-backgroundColor"
>
  <img src="../../../assets/Logo.png" class="h-10 ml-3 md:h-14 md:ml-5" />
  <nav
    class="flex gap-3 text-sm font-Roboto font-normal items-center cursor-pointer md:text-xl md:gap-9 md:font-medium text-Brown"
  >
    <a
      class="hover:text-white transition-all ease-in-out delay-150 duration-300 focus:text-white"
      routerLink="./main"
      (click)="onClick(true)"
      >Home</a
    >
    <a
      class="hover:text-white transition ease-in-out delay-150 duration-300 focus:text-white"
      routerLink="./product"
      (click)="onClick(true)"
      >Product</a
    >
    <a
      class="hover:text-white transition ease-in-out delay-150 duration-300 focus:text-white"
      routerLink="./about"
      (click)="onClick(true)"
      >About</a
    >
    <a
      class="hover:text-white transition ease-in-out delay-150 duration-300 focus:text-white"
      routerLink="./contact"
      [style.margin-right]="!hide ? '30px' : '0px'"
      (click)="onClick(true)"
      >Contact Us</a
    >
    <button
      class="mr-3 bg-Brown text-white px-3 py-1 rounded-md hover:bg-brownHover transition ease-in-out delay-100 duration-300 md:mr-9"
      routerLink="./login"
      (click)="onClick(false)"
      *ngIf="hide"
    >
      Log in
    </button>
  </nav>
</header>

<router-outlet></router-outlet>
