<section
  class="mt-10 font-Inter lg:mt-16 2xl:mt-24 bg-backgroundColor 2xl:p-16 text-white rounded-2xl 2xl:m-14 card m-10 p-5 flex flex-col gap-5 font-inter"
>
  <div>
    <h1
      class="text-xl font-medium text-center lg:text-left lg:text-2xl 2xl:text-3xl"
    >
      About <span class="text-Brown">CraftedComfort </span>
    </h1>
  </div>
  <div>
    <p class="text-justify leading-snug text-lg lg:text-2xl">
      Crafted components are the cornerstone of precision and excellence in
      manufacturing. These finely honed pieces serve as the foundational
      elements for a myriad of products, spanning from sophisticated automotive
      systems to intricate electronic devices. The collaborative efforts of
      skilled artisans and engineers are channeled into meticulously crafting
      each component, ensuring they meet exacting standards for reliability,
      longevity, and peak performance.
    </p>
    <br />
    <p class="text-justify leading-snug text-lg lg:text-2xl">
      Crafted components are the cornerstone of precision and excellence in
      manufacturing. These finely honed pieces serve as the foundational
      elements for a myriad of products, spanning from sophisticated automotive
      systems to intricate electronic devices. The collaborative efforts of
      skilled artisans and engineers are channeled into meticulously crafting
      each component, ensuring they meet exacting standards for reliability,
      longevity, and peak performance.
    </p>
  </div>
</section>
