<body class="bg-black scroll-smooth">
  <div *ngIf="loading">
    <p class="text-white">Loading</p>
  </div>

  <div
    class="grid grid-cols-1 place-items-center gap-10 mx-10 pt-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5"
  >
    <div
      *ngFor="let product of products"
      routerLink="./individualproduct/{{ product.id }}"
      class="flex flex-col h-full w-full rounded-[11px] card--style overflow-hidden hover:-translate-y-3 transition-all delay-200 duration-300 ease-in-out cursor-pointer"
    >
      <img [src]="product.imageUrl" class="h-[14rem]" />
      <div
        class="font-Inter font-medium flex justify-center ml-8 flex-col h-full"
      >
        <p class="text-2xl my-6 font-bold text-brownHover font-Cabin">
          {{ product.name }}
        </p>
        <div class="flex items-center gap-2">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAATFJREFUSEu11btKRDEQxvHfItjZC4Kdggo+i4iPIIiKpZU3EC+NpbfOB/BpBK20tNPKSlBQBnYlrCcn2dWd8uSb759MZnI6RhydEftLASs4xFwL9BlXOKndWAp4wHxlYkA2arQp4KsmIdFUQXKAW+xgDKdYysCLkBxgBk9d00XctZyuFZIDzOKxa7qA+0L5spC2Eu1jHAdYrrifS2z26/5yyU3MXyf5b0BAj7Hbo6eAN0xUlKIkecc0XkKYAtZwXcquWP/AVBMgcmM6LypM2iRH2GsqUe/bOqIjholzbKWJudd0GMgZttvatH9tEEi8wjEvv6L0P6iBxK5j941RAkRSGyTqHXXPRg0gByma989BqWtWk+6KmbkpJQwKCP0kPvFaYz4MoNb3R1d7BwMb9xK+AZeFMxmLcjjJAAAAAElFTkSuQmCC"
            class="h-5 w-5 mb-1"
          />
          <p class="mb-3 text-xl">₹{{ product.price }}</p>
        </div>
        <div class="flex items-center gap-2">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKtJREFUSEvt1M0JAkEMhuFn1S4EwYNnsQ5tSI+CRWkRVuBBwTb8YcCFZWXcUXc8LOYWJvk+8oZMIXMUmfX9DRoJdwfRAmvMGmdOK9hjiV2J6IxhWm9y1QGT0uCGCwaP9pCHqL5/lP/U4Ip+zgkCll6EcB1ZvSyKtIrolUHyZusEYkt8VzA6UWlwwuhb1Vr/EePSYI4Npi2ZhENbYdudv6glMs8yf0SNaLMjugObZikZAhQglQAAAABJRU5ErkJggg=="
            class="h-5 w-5 mb-3"
          />
          <p class="mb-3 text-xl">
            {{ product.height }}cm X {{ product.width }}cm
          </p>
        </div>
        <div class="flex items-center gap-2">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAT1JREFUSEvN1CEsRlEYxvHfNyMQbaaZTBNIkiJogsJIhqIwySbaREwwQzFBExRBMoJEUBTFRjCbYAI7du929+377j1cn3nLDec57/8853nPrWhwVRrc358CPhI3r9jG/G+4yzpIAWnfIZyWhdS6okWs4hgjjQC04wFN6MJ9GUi9kPcxXqLxIcbC/nqAAZyXANygNw8Q1q7Rg0nsRcKCbgJLSY6572AaW7hEfwSgDU9oQSceixy0JqLw7cNVAWQKOzjBcKotesnrmMMuQoO8OsNgEm4I+auKACGDkMUbOvBSh9CNOzwnuvdYQNClJ1vAWh3ACpaTzGaymiIHQRvm+SAi5CAJ433xXUAzbhGuIa+OMFotiHEQefjasljABmaxmUxVtlveWuEUpY2yv/LqQ+WtRQMa7uDHOcRm8H8Bn2QFNRlXu2umAAAAAElFTkSuQmCC"
            class="h-5 w-5 mb-5"
          />
          <p
            class="mb-5 text-xl"
            [ngStyle]="{
              fontWeight: 'bold',
              color: product.available ? 'green' : 'red'
            }"
          >
            {{ product.available ? "Available" : "Not Available" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
