<section
  class="hero flex flex-col items-center lg:flex-row lg:mb-4 2xl:items-start"
>
  <div>
    <h1
      class="text-center text-3xl mx-10 mt-10 font-bold font-Inter xl:text-5xl xl:mt-12 xl:mx-14 2xl:mt-14 2xl:mx-40"
    >
      Elevate Your Living Space with Timeless Elegance✨
    </h1>
    <p
      class="text-justify text-md mx-6 mt-5 leading-relaxed xl:text-xl xl:mt-8 xl:mx-10"
    >
      For timeless elegance and elevated living spaces, invest in our
      high-quality, investment-worthy furniture, crafted with meticulous
      attention to detail and designed to last🌟
    </p>
    <p
      class="text-justify text-md mx-6 mt-2 leading-relaxed xl:text-xl xl:mt-8 xl:mx-10"
    >
      From classic sofas and dining sets to modern beds and coffee tables, we
      offer a wide selection of furniture to suit every taste and budget. Our
      pieces are made with the finest materials and construction methods,
      ensuring that they will withstand the test of time
    </p>
    <div
      class="flex flex-row justify-evenly mt-8 w-full 2xl:mt-14 2xl:justify-center 2xl:gap-56"
    >
      <button
        routerLink="./product"
        class="bg-Brown text-white text-xl font-medium py-2 px-4 rounded-[11px] hover:bg-brownHover transition-all duration-300 delay-200 ease-in-out"
      >
        Explore↗️
      </button>
      <button
        class="text-Brown bg-white border-2 border-Brown text-xl font-medium py-2 px-4 rounded-[11px] hover:bg-gray-100 transition-all duration-300 delay-200 ease-in-out"
      >
        <a href="#middle"> Take a look👇 </a>
      </button>
    </div>
  </div>
  <div
    class="h-max w-50 my-8 ml-8 mr-8 rounded-lg border-4 border-Brown overflow-hidden sm:h-96 md:h-3/4 lg:w-[80rem] lg:h-4/5 lg:ml-4 lg:mr-4 xl:mx-8"
  >
    <img
      src="https://assets.architecturaldigest.in/photos/60083b6cd3054f83c2ded777/master/w_1600%2Cc_limit/DSC2647-2.jpg"
      alt="radnom furniture store"
      class="hover:scale-110 transition-all ease-in-out delay-200 duration-300"
    />
  </div>
</section>

<!-- Middle section -->
<section
  class="mt-10 font-Inter lg:mt-16 2xl:mt-24 bg-backgroundColor 2xl:p-16 text-white rounded-3xl 2xl:m-14 card m-10 p-10"
  id="middle"
>
  <h1
    class="text-xl font-bold text-center lg:text-left lg:ml-6 lg:text-2xl 2xl:text-3xl 2xl:ml-8"
  >
    What makes <span class="text-Brown">CraftedComfort </span>Special
  </h1>
  <div class="grid grid-cols-1 my-8 gap-10 lg:grid-cols-3 2xl:gap-12 2xl:mx-8">
    <div>
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAeBJREFUSEvFlT9rFFEUxX/3zSKaRkihjX9QEU2mCCp+iTRimDR+AwmY2SiIIDaiaBNnWcHCXgKZFWz8CFoEQdZMUpiECAqmEDslmnlXXtgNM+tmMzu6OtXjzjv33Hveue8JA/5kwPnJEkgY+LeBKeBwSeINROrR/OK9Nn6HYDrwZwWqJRN3wu5GcXLHBXcIwsDfAA6lgl+fT5baiDDw1a2jOMnJ2S0+c9kfsx5vQT9F8dKRToLCiRywKHG2g4ETWCdZFCcG2Cbrp9LWdmcUl0dbeXJnsAqcVJWxWmOx6QDXJ0aOp8asu3VqvaP1582PveLhxMh5jHkDrERxcjp3BtVgtKbINdDXVOwVs+kdTCtyX1THW9W9UPFuelvp/q5x80PT1JsTOKfwqBYnM3mCSX9YlS9dbPoNVEAO5P/pdxAn5VAnZnOfGX7y7N3XHEFWb+C9GzaBBSvelGe3hqzwFORCC/TKqlyVCj9J9TFwEfgMbMuStfSe3u5n8LpZ9/8TVIPRSxZ5IHA2142ybLA3ZhvLL3tZes8OwsB32u52+a1FcXLqTwkKT3ipMyh65+w29UUk+qsdfACO9WPN3/Yq61EjOdGO5zpwjlF4CHKmJEnTqL2VddY/fZNLFt0bNvAOfgFFlhkoL4xWjwAAAABJRU5ErkJggg=="
        class="mb-3 2xl:h-10"
      />
      <h2 class="text-xl font-medium mb-3 2xl:text-2xl">Wide Product Range</h2>
      <p class="text-justify leading-relaxed 2xl:text-lg 2xl:leading-loose">
        CraftedComforts offers a diverse range of products, from furniture like
        chairs and readymade doors to hardware items like screws and premium
        teak plywood.This extensive product selection allows customers to find
        all their furniture and hardware needs in one place, making it
        convenient and time-saving
      </p>
    </div>
    <div>
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAodJREFUSEvVlU1IVFEUx//nmfgRpi2EKGhVWXMHMkzIpAYXraIEfUNFuwijQObNLMogQ4oiiZw3QySIi1YRvDcW9AEFgVlaBAbZvBklAiN3fVmQjZL3xNOMYb6nyUV3ee8553fOPf9zL2GZFy1zfPwVwOt2ephZZ+L2gBG5minJvAG+FtEkFTwCFpKTktgVNCJP00HyArTtqysvK4m9JWANCK/A2ArG+6qK75u6rk/GUkHyAnhVcZ6BMwSMVH6sdk1XfxgBo56JTgaM8OWCAR5VvCRgmwQ1Bs3wiMft3EPMD22g37Qa/wXgBwGlM7OlK/vujM60H96wqmi25CuAad20VhcM8KpimIGdS1eiqaITwDkAT3TT2l0wQHM794L5bnIgatLN8GDBADuAx+08QMwdANeAlCiAs7oRvpdVpl7V0SxBlwjYnGhMwBcGhljKnsBAdCj+/JS7rnJOxnxMqAUwTMSDUxCjhmHM23Z/ZKqpjimA1mV5Or5JltuDoeibhWpaRD0puA1gbYLfiyriXV1GZC4OINg20k0raTba2uqKyz/HrgE4CmBMN61aryqOMxAEUMRE9yE5SAQDQAUBEb9piYQK0gN+Z0eaKiYAbAT4GUAN9j4DnQHTuqCpjn6AjtiSLWKl4Uro9XhWgKYuQtOsaWYcDISsB5rqOA3QRQBzipSunoHo8yWfjFeUATCGFfPN+s3xSa1VHALhhl0MEbX6jfCt+IRy6kG6EnwtW3ZIRbFVVQziY7oR6UuhwMWtpWxTNTnRyW562afYfiL0A6gioNtvWh0ZB01TxTsA67PINPmY0auHrBM5DRoD3QDV5AD5ScBjyegNhKxQJvu8/oMcwEkm/z/gF+uV/hmS8VRuAAAAAElFTkSuQmCC"
        class="mb-3 2xl:h-10"
      />
      <h2 class="text-xl font-medium mb-3 2xl:text-2xl">Quality Assurance</h2>
      <p class="text-justify leading-relaxed 2xl:text-lg 2xl:leading-loose">
        CraftedComforts takes pride in the quality of its products. They source
        premium materials like teak wood for their furniture and offer
        high-quality hardware items. The emphasis on quality sets them apart and
        ensures that customers can trust the durability and reliability of the
        items they purchase.
      </p>
    </div>
    <div>
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKhJREFUSEtjZKAxYKSx+QxYLSgM0fL/x8DYwcjAoEGUA/4zXGdi+FfSt/b6NnT1WC0oCNF+wcDAIE6U4QhF9yasuapMrAX/QQonrLkKdkBBiDZJfGRLcPmAJAPRHTBqAcE4GQ2iQR5EBSHa+xkYGBxIzMUw5QcmrLnqiDeSYZmGTAvguR+mHyMnDx8LYAUdsUGFqzzCGUSjFhBMRTQLImIjlVh1NG9VAAD0otcZ5UW8UgAAAABJRU5ErkJggg=="
        class="mb-3 2xl:h-10"
      />
      <h2 class="text-xl font-medium mb-3 2xl:text-2xl">
        Craftsmanship and Expertise
      </h2>
      <p class="text-justify leading-relaxed 2xl:text-lg 2xl:leading-loose">
        CraftedComforts is dedicated to delivering not just products but also
        craftsmanship. They provide expertise and guidance in selecting the
        right furniture and hardware, making it a one-stop destination for both
        experienced DIY enthusiasts and those seeking professional advice.
      </p>
    </div>
  </div>
</section>

<!-- Latest Section -->
<section
  class="latest mt-10 font-Inter lg:mt-16 2xl:mt-24 bg-white 2xl:p-16 text-black rounded-3xl 2xl:m-14 card m-10 p-10 flex flex-col gap-10 2xl:gap-0"
>
  <h1
    class="text-xl md:text-3xl font-bold text-center lg:text-left lg:ml-6 lg:text-2xl 2xl:text-4xl 2xl:ml-8"
  >
    Upcoming <span class="text-Brown">Products </span>
  </h1>
  <div
    class="flex flex-col my-8 2xl:my-0 gap-8 2xl:gap-12 lg:flex-row items-center lg:gap-10"
  >
    <div class="lg:w-2/4 2xl:w-2/5">
      <img
        class="w-full 2xl:h-[32rem]"
        src="https://atlas-content-cdn.pixelsquid.com/stock-images/studio-chair-o0J9naA-600.jpg"
      />
    </div>
    <div class="lg:w-2/4 2xl:w-3/5">
      <h2
        class="text-lg text-center font-medium mb-3 2xl:text-4xl md:text-2xl lg:text-left lg:text-3xl lg:mb-8"
      >
        The <span class="text-Brown">Perfect </span> Comfort Chair
      </h2>
      <p
        class="text-justify leading-relaxed 2xl:text-xl 2xl:leading-loose md:text-lg"
      >
        CraftedComforts is thrilled to introduce our latest product, "The
        Perfect Comfort Chair." We've poured our passion for design and comfort
        into this exceptional chair, and we can't wait to share it with you.
        Stay tuned for a seating experience that redefines relaxation and
        support!
      </p>
    </div>
  </div>
  <div
    class="flex flex-col my-8 2xl:my-0 gap-8 2xl:gap-12 lg:flex-row-reverse items-center lg:gap-10"
  >
    <div class="lg:w-2/4 2xl:w-3/5">
      <img
        class="w-full"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbQAq7dW_sceg05mEw2AFAtgd19z51WExqXA&usqp=CAU"
      />
    </div>
    <div class="lg:w-2/4 2xl:w-3/5">
      <h2
        class="text-lg text-center font-medium mb-3 2xl:text-4xl md:text-2xl lg:text-right lg:text-3xl lg:mb-8 2xl:text-left"
      >
        The <span class="text-Brown">Harmony </span> Table
      </h2>
      <p
        class="text-justify leading-relaxed 2xl:text-xl 2xl:leading-loose md:text-lg lg:text-justify"
      >
        We're excited to offer you a sneak peek of our upcoming product, the
        "Harmony Table." This elegant and versatile table is on the horizon, and
        we can't wait to reveal the perfect blend of style and functionality it
        brings to your living space. Stay tuned for a closer look.
      </p>
    </div>
  </div>
  <div
    class="flex flex-col my-8 2xl:my-0 gap-8 2xl:gap-12 lg:flex-row items-center lg:gap-10"
  >
    <div class="lg:w-2/4 2xl:w-3/5">
      <img
        class="w-full"
        src="https://img.freepik.com/free-photo/minimal-living-room-interior-design-with-leaf-shadow-wall_53876-129802.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1698883200&semt=ais"
      />
    </div>
    <div class="lg:w-2/4 2xl:w-3/5">
      <h2
        class="text-lg text-center font-medium mb-3 2xl:text-4xl md:text-2xl lg:text-left lg:text-3xl lg:mb-8"
      >
        The Upcoming Sofa <span class="text-Brown">Sensation</span>
      </h2>
      <p
        class="text-justify leading-relaxed 2xl:text-xl 2xl:leading-loose md:text-lg"
      >
        Get ready to be enchanted by our upcoming product, a masterpiece of
        comfort and style, the "Sofa Sophistication." Crafted with the utmost
        care and attention to detail, this elegant sofa is set to transform your
        living space into a haven of relaxation and luxury. Stay tuned for a
        closer look.
      </p>
    </div>
  </div>
</section>
