<section
  class="hero flex flex-col items-center lg:flex-row lg:mb-4 2xl:items-start"
>
  <div>
    <h1
      class="text-center text-3xl mx-10 mt-10 font-bold font-Inter xl:text-5xl xl:mt-12 xl:mx-14 2xl:mt-14 2xl:mx-40"
    >
      Elevate Your Living Space with Timeless Elegance✨
    </h1>
    <p
      class="text-center text-md mx-6 mt-5 leading-relaxed xl:text-xl xl:mt-8 xl:mx-10"
    >
      For timeless elegance and elevated living spaces, invest in our
      high-quality, investment-worthy furniture, crafted with meticulous
      attention to detail and designed to last🌟
    </p>
    <p
      class="text-center text-md mx-6 mt-2 leading-relaxed xl:text-xl xl:mt-8 xl:mx-10"
    >
      From classic sofas and dining sets to modern beds and coffee tables, we
      offer a wide selection of furniture to suit every taste and budget. Our
      pieces are made with the finest materials and construction methods,
      ensuring that they will withstand the test of time
    </p>
    <div
      class="flex flex-row justify-evenly mt-8 w-full 2xl:mt-14 2xl:justify-center 2xl:gap-56"
    >
      <button
        routerLink="../product"
        class="bg-Brown text-white text-xl font-medium py-2 px-4 rounded-[11px] hover:bg-brownHover transition-all duration-300 delay-200 ease-in-out"
      >
        Explore↗️
      </button>
      <button
        class="text-Brown bg-white border-2 border-Brown text-xl font-medium py-2 px-4 rounded-[11px] hover:bg-gray-100 transition-all duration-300 delay-200 ease-in-out"
      >
        Take a look👇
      </button>
    </div>
  </div>
  <div
    class="h-72 w-50 my-8 ml-8 mr-8 rounded-lg border-4 border-Brown overflow-hidden sm:h-96 md:h-3/4 lg:w-3/5 lg:h-4/5"
  >
    <img
      src="https://assets.architecturaldigest.in/photos/60083b6cd3054f83c2ded777/master/w_1600%2Cc_limit/DSC2647-2.jpg"
      alt="radnom furniture store"
      class="hover:scale-110 transition-all ease-in-out delay-200 duration-300"
    />
  </div>
</section>
